.navbar{
    background: linear-gradient(180deg, rgba(9, 32, 63, 0.95) 0%, rgba(83, 120, 149, 0.95) 100%);
    position:fixed !important;
    width: 100%;
    padding-bottom: 0;
    background-color: rgba(0,0,0,0) !important;
    height: 18vh;
    z-index: 1;
    align-items: flex-end;
    .container-fluid{
        padding-left: 0;
        .navBar--links{
            display:flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 10vw;
            gap: 40px;
            a{
                font-weight: normal;
                font-size: 22px;
                line-height: 27px;
            }
        }
    }
    .navBar--brand{
        font-weight: bold;
        font-size: 25px;
        line-height: 31px;
        margin-left: 10vw;
    }
    .navBorder{
        height: 6px;
        background: linear-gradient(180deg, #537895 0%, #09203F 100%);
        width: 100%;
        align-self:flex-end;
    }
}